.bicicletas-bg {
  margin-top: 120px;
}
.bicicletas {
  max-width: 1400px;
  margin: 0 auto;
  padding: 22px;
}
.bicicletas h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 40px;
  margin-left: 220px;
}
.cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.card {
  flex: 1 1 320px;
}
.card img {
  border-radius: 5px;
}
.card h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
.card h3::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
}

.card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
