* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #9c9c9c;
  --c5: #b2b2b2;
  --c4: #cccccc;
  --c3: #dedede;
  --c2: #ededed;
  --c1: #f7f7f7;
  --w: #ffffff;
  --p5: #332200;
  --p4: #664400;
  --p3: #a66f00;
  --p2: #e4a30b;
  --p1: #ffbb00;
  --gradiente: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  --gradienteh: linear-gradient(180deg, #362900 0%, #463921 100%);
}
body {
  margin-bottom: 500px;
}
